.header{
    display: flex !important;
    justify-content: space-between;
}


.headerLogo img{
    width: 5rem;
}

@media screen and (max-width: 900px){
    .header {
        justify-content: space-between !important;
    }

    .headerLogo img{
        width: 3rem;
        height: 3rem;
        margin: 1rem 0 1rem 1rem;
    }
}
