.formArea{
    display: flex;
    justify-content: center;
    height: 70vh;
    min-width: 100% !important;
}

.form{
    width: 30%;
}

.loginText{
    padding-top: 2em;
    padding-right: 11em;
}

@media screen and (max-width: 500px){
    .form {
        width: 80%;
    }
    .formArea{
        width: 80%;
        height: 60vh;
    }

    .loginText {
        padding-top: unset;
        padding-right: 4em;
    }
}