
.promo-section{
    margin-top: 5%;
    background-color: #e6f2ff;
    padding: 2rem;
    overflow-x: hidden !important;
    width: 100%;
}

.promo-section h2{
    letter-spacing: 1px;
    font-family: verdana;
}

.promo-section p{
    padding-top: 1rem;
    letter-spacing: 1px;
    font-size: 20px;
}

.btn{
    margin-top: 0.5em;
}

@media screen and (max-width: 500px){
    .promo-section h2 {
        font-size: 1.2rem;
    }

    .promo-section p{
        letter-spacing: 0.5px;
        font-size: 15px;
    }

    .btn{
        padding: 0.5em !important;
    }
}